<!DOCTYPE html>
<html>
	<head>
		<title>
			show students
		</title>
	</head>
	<body>
		<table  border="1"  align="center"width="70%">
			<thead>
			<tr>
				<th>Name</th>
				<th>age</th>
				<th>marks</th>
				<th>college</th>
			</tr>	
			</thead>
			<tbody>
				<tr th:each="student : ${students}">
								<td  th:text="${student.name}"></td>
								<td   th:text="${student.age}"></td>
								<td   th:text="${student.marks}"></td>
								<td   th:text="${student.college}"></td>
							</tr>
			</tbody>
			
			
			
		</table>
	</body>
</html>