<!DOCTYPE html>
<html>
	<head>
		<title>
			TODO List
		</title>
	</head>
	<body>
		<h1>All Todos</h1>
		<hr>
		<table border="1" align="center" width="80%">
			<thead>
				<tr>
					<th>Id</th>
					<th>userId</th>
					<th>Title</th>
					<th>Completed</th>
				</tr>
			</thead>
			
			
			<tbody>
				<tr th:each="todo : ${records}">
					<td th:text="${todo.id}"></td>
					<td th:text="${todo.userId}"></td>
					<td th:text="${todo.title}"></td>
					<td th:text="${todo.completed}"></td>
				</tr>
			</tbody>
		</table>
	</body>
</html>