<!DOCTYPE html>
<html>
	<head>
		<title>W-13  Example</title>
	</head>
	<body>
		<table border="1"align="center"  width="50%">
			<thead>
				<tr>
					<th>Name</th>
					<th>Age</th>
					<th>Gender</th>
					<th>College</th>
				</tr>
			</thead>
			
			<tbody>
							<tr   th:each="user:${users}">
								<td   th:text="${user.name}"   ></td>
								<td   >
									<div th:if="${user.age}<5"  style="background-color:green;" th:text="${user.age}"></div>
									<div th:unless="${user.age}<5"  style="background-color:red;" th:text="${user.age}"></div>
																		
								</td>
								<td   th:switch="${user.gender}" >
									<span th:case="M"   th:text="Male"></span>
									<span th:case="F"   th:text="Female"></span>
									<span th:case="O"   th:text="Others"></span>
																		  
								</td>
								<td     th:text="${user.college}"></td>
							</tr>
						</tbody>
		</table>
		
	</body>
	
</html>